li[type='threadnode'] {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#threadnode');
}

search-toolbox {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#search-toolbox');
}

query {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#vis-query');
}

conversation {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#conversation');
}

message {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#message');
}

fullmessage {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#fullmessage');
}

identity {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#identity');
}

reply {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#reply');
}

conversation-reader {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#conversation-reader');
}

message-in-conversation {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#message-in-conversation');
}


body#main {
    background-color: white !important;
    padding: 2em !important;
}

