conversation {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#conversation');
}

message {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#message');
}

fullmessage {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#fullmessage');
}

identity {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#identity');
}

reply {
  -moz-binding: url('chrome://experimentaltoolbar/content/bindings.xml#reply');
}

body { margin: 0em; padding: 0em; font-family: sans-serif; font-size: 10pt; }
#window { position: relative; }

.match { font-weight: bold; }

.conversations { border-right: 1px solid #9f9f9f; border-left: 1px solid #9f9f9f; }
.conversations { margin-right: 16em; } /* rhs.width + 1em pad */

.conversation.unread { background-color: #fefefe; }
.conversation { padding: 0.2em; background-color: #e1e7f0;  position: relative; border-bottom: 1px solid #9f9f9f; cursor: pointer;}
.conversation:first-child { border-top: 1px solid #9f9f9f; }
.conversation:hover { background-color: white; }
.conversation.wrap { border: none; background-color: inherit; }

conversation .participants { width: 10em; position: absolute; top: 0em; left: 0em;}
conversation .participants .participant { display: inline; }
identity:after { content: ", "; }
identity:last-child:after { content: "" }

.message.wrap { position: relative; }
.conversation .message { margin-left: 12em; }
.reply .message { margin-left: 11em; min-height: 1.5em;}

.subject { white-space: nowrap; overflow:hidden; }
.date { position: absolute; right: 0em; top: 0em; text-align: right; font-size: smaller;}
.snippet { color: #666; white-space: nowrap; overflow: hidden; margin-right: 7em; }

.replies { margin-left: 1em; }
/*.reply { position: relative; margin-top: 0.5em; }*/
.reply .participants { text-align: right; }
.reply .message > .subject { display: none; }

reply { position: relative; margin-top: 0.5em; display: block;}
reply .participants { text-align: right; }
reply .message > .subject { display: none; }

.rhs { width: 15em; position: absolute; right: 0em; top: 0em;}
 
.details {font-size: 110%; background-color: white; border: 1px solid grey; -moz-border-radius: 5px;
padding: 1em; margin-bottom: 1em;}

.details .subject {
  padding-bottom: 1em;
}

.details .subject:before { content: "Re: "; color: grey;}
.details .from:before { content: "From: "; color: grey;}
.details .to:before { content: "To: "; color: grey;}

/*All of the css that follows is bad -- daa */
.msgheader {
  position: relative;
  display: block;
  padding-bottom: 1em;
}

.details .date { top: .5em; right: .5em; color: grey; font-size: 90%;}
.msgheader .participant.from { position: absolute; display: block; padding-bottom: 1em; left: 0em; top: 0em;}
.msgheader .participant.to { position: absolute; display: block; padding-bottom: 1em; right: 0em; top: 0em;}

div.command {
  width: 80px;
  display: block;
  min-width: 1px;
  font-size: 90%;
  color: black;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 4px;
  background-color: rgb(211,215,207);
  border: 2px solid #C0C3C6;
  -moz-border-radius: 4px;
}

div.command:hover {
  background-color: rgb(230,231,227);
  border: 2px solid #B0B3B6;
}

.hidden {
  visibility: hidden;
}

conversationsummary {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid grey;
}

span.navbutton {
  display: inline-block;
  background-color: lightblue;
  -moz-border-radius: 3px;
  color: black;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  margin: 4px;
  font-family: sans-serif;
  font-size: small;
}

