#button-write
{
  font-family: sans-serif;
  font-weight: bold;
  -moz-appearance: button;
  font-size: 125%;
  padding: 0em 1.5em;
  letter-spacing: 2px;
}

.bubble {
  -moz-border-radius: 4px;
  margin: 0px 2px 0px 0px;
  padding: 0.1em 0.5em;
}




.bubble[type="contact"] {
  background-color: #ddddff;
}

.bubble[type="contact-collection"] {
  background-color: #ffddff;
}

.bubble[type="folder"] {
  background-color: #ddffdd;
}

input.bubble-spacer {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 6px;
  min-width: 6px;
  max-width: 6px;
}

.autocomplete-richlistitem[selected] {
  background-color: Highlight !important;
}

.autocomplete-richlistitem[type="gloda-contact"] {
  background-color: #eeeeff;
}

.autocomplete-richlistitem[type="gloda-identity"] {
  background-color: #f6f6ff;
}

.autocomplete-richlistitem[type="gloda-identity"] .ac-site-icon {
  width: 32px;
  height: 32px;
  margin: 0 5px -3px 3px;
}

.autocomplete-richlistitem[type="gloda-conversation"] {
  background-color: #eeffee;
}

toolbox { 
  -moz-appearance: toolbox;
}

toolbar {
  -moz-appearance: none;
  min-width: 1px;
  min-height: 1px;
  padding: 8px 4px;
  background-color: -moz-Dialog;
}

#button-getmsg2 {
  list-style-image: url(chrome://mozapps/skin/downloads/downloadIcon.png);
  line-height: 0px;
  height: 18px;
}

toolbarspacer.mail-search-bar-spacer {
  width: 32px;
}

#searchInput2 {
  color: #222222;
  font-size: 125%;
  font-weight: bold;
}
#searchInput2[empty=true] {
  color: #aaaaaa;
}
