.toolbarbutton-bold
{
  font-weight: bold !important;
  -moz-appearance: none;
  color: #222222 !important;
  border: 1px solid;
  -moz-border-bottom-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-radius: 14px;
  background-color: #eeeeec;
  background-position: top right;
  background-image: url("chrome://global/skin/icons/white-gray-gradient.gif") !important;
  background-repeat: repeat-x;
  padding: 2px 20px !important;
}

.toolbarbutton-bold:hover {
  background-color: #fefefc;
}

.toolbarbutton-bold > .toolbarbutton-icon {
  display: none;
}
.toolbarbutton-bold > .toolbarbutton-text {
  letter-spacing: 4px;

}

.contact-bubble {
  background-color: #ddddff;
  -moz-border-radius: 4px;
  margin: 0px 2px 0px 0px;
  padding: 0px 3px;
}

input.bubble-spacer {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 6px;
  min-width: 6px;
  max-width: 6px;
}

.autocomplete-richlistitem[selected] {
  background-color: Highlight !important;
}

.autocomplete-richlistitem[type="gloda-contact"] {
  background-color: #eeeeff;
}

.autocomplete-richlistitem[type="gloda-identity"] {
  background-color: #f6f6ff;
}

.autocomplete-richlistitem[type="gloda-identity"] .ac-site-icon {
  width: 32px;
  height: 32px;
  margin: 0 5px -3px 3px;
}

.autocomplete-richlistitem[type="gloda-conversation"] {
  background-color: #eeffee;
}

toolbox { 
  -moz-appearance: toolbox;
}

toolbar {
  -moz-appearance: none;
  min-width: 1px;
  min-height: 1px;
  padding: 8px 4px;
  background-color: -moz-Dialog;
}

#button-getmsg2 {
  list-style-image: url(chrome://mozapps/skin/downloads/downloadIcon.png);
  line-height: 0px;
  height: 18px;
}

toolbarspacer.mail-search-bar-spacer {
  width: 32px;
}

#searchInput2 {
  color: #222222;
  font-size: 125%;
  font-weight: bold;
}
#searchInput2[empty=true] {
  color: #aaaaaa;
}
